*{
    font-family: sans-serif ;}

table,th,td{
    text-align: left;
    font-size: 20px;
}  

table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
.text-center {
    text-align: center;
}

.row{
    text-transform: uppercase;
}
.text-left {
    text-align: left;
    font-size: 0.6rem;
}

.text-right{
    text-align: right;
    font-size: 0.6rem;
}
.terms {
    align-items: top;
}

.small-th {
    font-weight: 30;   
    font-size: 0.5rem;
    padding: 10px;
}

.small-txt{
    font-size: 0.5rem;
}
.nested-table th,td{
    font-size: 9px;
}

table,td,th,tr {
    border: 1px solid black !important;
}


/* tbody{
    height: 10px;
} */
